<div class="product__step">
          <div class="product__step__wrapper">
    <div class="product">
        <div class="product__image">
        <svg class="product__shadow" style="transform: translate3d(-11.2756px, 14.2756px, 0px);">
            <filter id="shadow">
            <feGaussianBlur in="SourceGraphic" stdDeviation="3"></feGaussianBlur>
            <feComponentTransfer>
                <feFuncR type="linear" slope="0"></feFuncR>
                <feFuncG type="linear" slope="0"></feFuncG>
                <feFuncB type="linear" slope="0"></feFuncB>
            </feComponentTransfer>
            </filter>
            <image width="205" height="525" style="display:none" x="5" y="5" xlink:href="https://dxkmbl8uwuv9p.cloudfront.net/privatebrand/1682967638033/90fc069e-6253-4ba3-8ed4-07a7f48cd80d/PDP-Image_Then-I-Met-You_Essence-Light-Sunscreen_Cindy-Before-&amp;-After.jpg" filter="url(#shadow)"></image>
        </svg>
        <img src="https://dxkmbl8uwuv9p.cloudfront.net/privatebrand/1682967638033/90fc069e-6253-4ba3-8ed4-07a7f48cd80d/PDP-Image_Then-I-Met-You_Essence-Light-Sunscreen_Cindy-Before-&amp;-After.jpg" alt="ILLUMINATING PROTECTION ">
    </div>
    <div class="text">
      <p class="Step">Sun Essence</p>
      <h2 class="h3">ILLUMINATING PROTECTION </h2>
      
        <p class="Large-Body">Our essence inspired formula applies invisibly on all skin tones without white cast or stickiness to protect and hydrate skin for a vibrant and luminous complexion. </p>
        <div class="info timy-animate" data-sr-id="0" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s;">
            <p class="info__header">
                Shedding Light on Korean Sunscreen Formulation Benefits
            </p>
            
            <p class="feature">- Designed for everyday wear — not just outdoor use</p>
            
            
            <p class="feature">- Typically higher SPF values </p>
            
            
            <p class="feature">- Uses both SPF (Sun Protection Factor) and PA (Protection Grade of UVA Rays)</p>
            
        </div>
        </div>
  </div>
</div>
<div class="product__step__wrapper">
  
    <h2 class="Small-Body">
        Key &amp; Active Ingredients :
    </h2>
  
  <div class="ingredients">
    <div>
        <h3 class="h4"> Galactomyces ferment filtrate</h3>
        <p>Galactomyces Ferment Filtrate (GFF) is a derivative of fermented sake that has proven skin care benefits, including reducing the appearance of pores, blackheads and sebum; decreasing levels of acne; and improving skin brightness.</p>
    </div>

    <div>
        <h3 class="h4">Ceramides</h3>
        <p>Ceramides are lipids that make up your skin’s natural barrier, helping it to retain moisture and protecting it from any potential irritants. Applying ceramides topically fortifies the skin’s barrier so that your skin remains supple and healthy.</p>
    </div>
    
    <div>
        <h3 class="h4">Hyaluronic Acid </h3>
        <p>Hyaluronic Acid is known to deeply quench skin with vital hydration by attracting and binding water within the skin surface. It draws moisture into the skin for a plumper, more youthful appearance.</p>
    </div>
    
    <div>
        <h3 class="h4">Provitamin B5</h3>
        <p>Pantothenic acid (B5) is a humectant (moisturizing agent) that retains moisture in the skin, which improves skin elasticity and contributes to a fuller, more hydrated looking face. </p>
    </div>
        
    <div>
        <h3 class="h4">Active Ingredients </h3>
        <p> Avobenzone 3.0%,  Homosalate 9.0%, Octisalate 4.5%, Octocrylene 5.0%</p>
    </div>
        
  </div>

  
    <div class="ingredients-expand js-ingredients-expand" data-js-trigger=".upperlink" data-js-content-body=".ingredients-expand__body">
      <a class="upperlink">See full ingredients</a>
      <div class="ingredients-expand__body">
        <p>Water (Aqua), Dipropylene Glycol, Methyl Methacrylate Crosspolymer, Glyceryl Polymethacrylate, Propylene Glycol, Butyloctyl Salicylate, Ceteareth-20, Ethylhexyl Methoxycrylene, Acrylates Copolymer, Galactomyces Ferment Filtrate, Saccharomyces Ferment Filtrate,  Ceramide NP, Hydrolyzed Hyaluronic Acid, Sodium Acetylated Hyaluronate, Hyaluronic Acid, Hydrolyzed Sodium Hyaluronate, Sodium Hyaluronate Crosspolymer, Potassium Hyaluronate, Panax Ginseng Root Extract, Sorbitan Oleate, Polysorbate 60, Sorbitan Stearate, Caprylyl Glycol, Cetearyl Olivate, Panthenol, Sodium Hyaluronate, Glycerin, Sorbitan Olivate, Acrylates/C10- 30 Alkyl Acrylate Crosspolymer, Tromethamine, Sodium Acrylate/ Sodium Acryloyldimethyl Taurate Copolymer, Isohexadecane, Ammonium Acryloyldimethyltaurate/VP Copolymer, 1,2-Hexanediol, BHT, Ethylhexylglycerin, Polysorbate 80, Trisodium Ethylenediamine Disuccinate, Xanthan Gum, Butylene Glycol, Caprylic/ Capric Triglyceride, Hydroxypropyltrimonium Hyaluronate, Potassium Sorbate, Hydrogenated Lecithin, Sodium Benzoate, Octyldodecanol<br>
        </p>
      </div>
    </div>
  

  
    <div class="ingredients-expand js-ingredients-expand" data-js-trigger=".upperlink" data-js-content-body=".ingredients-expand__body">
            <a class="upperlink">How To Use</a>
            <div class="ingredients-expand__body">
                <p>HOW TO USE:<br>
                SPF should be applied daily (no matter the weather!) as the last step in your routine before applying makeup and at least 15 minutes before sun exposure. Apply an even layer to skin including face, neck and décolletage (about a nickel sized amount). If wearing makeup, allow 2-3 minutes for the sunscreen to sink in before applying primer or other cosmetics. Reapply every 2 hours. See Drug Facts for complete usage.<br>
                <br>
                TIPS FOR USE:<br>
                - Essence Light Sunscreen was designed as a moisturizing makeup base. It can be worn alone or as the perfect canvas for makeup application<br>
                - For the best experience, keep this product out of the sun and extreme heat<br>
                <br>
                FAQ’s:<br>
                Q: Can I use Essence Light Sunscreen on my body?<br>
                A: Essence Light Sunscreen has been expertly formulated to provide skincare and beauty benefits optimized for your face, but can be used on your body as well. Don’t forget to apply and reapply sunscreen to the backs of your hands — especially with frequent hand washing, as they are prone to sun exposure and can show early signs of aging. <br>
                <br>
                Q: Does Essence Light Sunscreen work on all skin types?<br>
                A: Yes!  Essence Light Sunscreen works on all skin types and is formulated with ingredients that help soothe skin and maintain moisture while leaving a natural, radiant finish. If you have super sensitive skin, we always recommend patch-testing before regular use.<br>
                <br>
                Q: Do I need to use additional moisturizer together with this sunscreen?<br>
                A: For dry-combination skin, it is recommended to apply sunscreen after your serum or moisturizer. For skin with excessive sebum or oily skin, you do not need to use additional moisturizer.<br>
                <br>
                Q: Is there a fragrance? <br>
                A: There is no fragrance added.<br>
                <br>
                Q: How is the SPF level determined?<br>
                A: Our SPF was tested by an independent 3rd party clinical laboratory in the United States. Using the Static SPF testing method set forth by the FDA our 11 subject panel yielded a mean static SPF value of 57.78 with an X-A value of 54.33 resulting in a label value of SPF 54. The results of our Broad Spectrum test yielded a mean critical wavelength of 380.11nm in accordance with the FDA’s required critical wavelength of 370nm or greater to claim Broad Spectrum protection.<br>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="pdp-billboard timy-animate" data-sr-id="2" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s;">
    <div class="text">
        <h3>No white cast </h3>
    </div>
    <div class="image">
        <img style="margin: 1px auto;" src="https://dxkmbl8uwuv9p.cloudfront.net/privatebrand/1682967755080/37f098c1-a0bd-4463-acd7-8eb41c87454f/TIMY-Model-Paige-PDP-Page.png" alt="No white cast ">
    </div>
</div>