<div class="page-width">
    <div class="product-quote timy-animate" data-sr-id="3" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.4s;">
        <div class="product-quote__wrapper">
            <div class="text">
                <p class="Large-Quote">"Infused with fermented ingredients and skin barrier protecting ceramides, it’s the perfect all around suncare, and I am confident will be a staple in your routine for years to come."</p>
                <p class="attribution">Charlotte Cho, Founder of Then I Met You</p>
            </div>
            <div class="image">
                <img src="https://dxkmbl8uwuv9p.cloudfront.net/privatebrand/1682087318443/a7e60353-d773-4cb9-bf73-e8e951b0a0df/TIMY_CalmingTideGelCream_Charlotte_001_LowRes.jpg" alt="Charlotte Cho, Founder of Then I Met You">
            </div>
        </div>
    </div>
</div>
