/* standard text font size */
h1,
h2,
h3,
h4,
h5,
h6,
.title_block,
.title,
.caption-1 {
  font-family: Arvo, sans-serif;
}
.title_block,
.title,
.page-faqs .block-faq .title_block,
.page-contact .formContactUs .contact_message .title_block {
  font-size: 3.2rem;
  font-size: var(--font-size-title);
}
.subtitle,
.subtitleext,
.rte h2,
.page-faqs .panel-group .panel-header {
  font-size: 1.8rem;
  font-size: var(--font-size-subtitle);
}
p,
.text-content,
.text-content ul,
.text-content ol,
.text-content p,
.template-blog .blog--column-view .article--listing .article__excerpt,
.page-contact .formContactUs .contact_message .sub_title,
.page-contact .content .tt_i_contact,
.page-contact .content .sub_bold,
.cart_popup_opened .nov-content .cart-popup-heading .cart__popup-headingtitle, /* cart bag popup */
.cart_popup_opened .nov-content .cart-popup-heading span,
.cart_popup_opened .nov-content .cart-message strong,
.cart_popup_opened .nov-content .cart-message,
.threshold_spend,
.cart_popup_opened .nov-content .cart-notice-total .col-left,
.cart_popup_opened .nov-content .cart-notice-total .col-right,
.content_threshold.threshold_congrats,
.layout_content .cart_canvas_content>#_desktop_cart #cart-info .cart .ajaxcart__footer .btn span, /* cart popup */
.layout_content .cart_canvas_content>#_desktop_cart #cart-info .cart .ajaxcart__inner .product-name span,
.layout_content .cart_canvas_content>#_desktop_cart #cart-info .cart .ajaxcart__inner .product-price,
.layout_content .cart_canvas_content>#_desktop_cart #cart-info .cart .ajaxcart__inner .quantity,
.cart-section .cart .cart__layout_right .cart__heading, /* cart page*/
.cart-section .cart .cart__layout_left .cart__header,
.cart-section .cart .cart__layout_left .cart__body .cart__image-wrapper .cart__meta .list-view-item__title a,
.cart-section .cart .cart__layout_right .grid .grid__item .cart__total .cart__subtotal-title,
.cart-section .cart .cart__layout_right .grid .grid__item .cart__total .cart__subtotal,
.cart-section .cart .cart__layout_right .grid .grid__item .cart__shipping .cart__shipping-title,
.cart-section .cart .cart__layout_right .grid .grid__item .cart__shipping .cart__shipping-sub,
.cart-section .cart .cart__layout_right .grid .grid__item .cart-notice-total,
.cart-section .cart .cart__layout_left .button_cart .btn,
.cart-section .cart .cart__layout_right .grid .cart-note .cart-note_label,
.cart-section .cart .cart__layout_left .cart__body .cart__price-wrapper,
.cart-section .cart .cart__layout_left .cart__body .product-subtotal,
.page-faqs .panel-group .panel-body,
.item-product .product__info .product__title {
  font-size: 1.4rem;
  font-size: var(--font-size-base);
}
.layout_content
  .cart_canvas_content
  > #_desktop_cart
  #cart-info
  .cart
  .remove-from-cart {
  bottom: 0;
}
@media (max-width: 480px) {
  body {
    line-height: 1.2;
  }
}
/* standard small size (for faq, announcement bar, and footer)*/
.page-faqs .panel-group .panel-body .item-content p {
  font-size: 14px;
}
.sub-title {
  text-transform: none;
}
/* global layout fixes */
.subtitleext {
  max-width: 100%;
}
ul li {
  text-align: left;
}
.no-bt-margin {
  margin-bottom: -86px;
}
.btnAddToCart.dca {
  background: #fff295;
  color: #222;
}
.btnAddToCart.dca:hover {
  color: #000;
  background: #ffea56;
  border: 2px solid #000;
}
.container_xl {
  max-width: 1500px;
  margin: 0 auto;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nov-move-horizontal.nov-ready .nov-with-anim {
  z-index: 99;
}
.section-slideshow .distance {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.announcement-slide h5 {
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
.nov-footer .footer-layout {
  padding: 20px 0;
}
.nov-footer .footer_menu li a {
  line-height: 25px;
}
.nov-footer .list-inline-item a i {
  color: var(--theme-color-default);
  color: #525252;
  width: 30px;
}
.footer-layout ul.list-inline.mb-0 {
  display: flex;
  flex-flow: column;
}
.footer-layout .block_social a {
  font-size: 1.4rem;
}
.custom-acccount svg {
  fill: transparent;
  stroke: #000;
  stroke-width: 6px;
  width: 20px;
  height: 20px;
}
.currency_header {
  display: none !important;
}
/* mobile header */
div#back_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  font-size: 25px;
}
.header-mobile.sticky {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  transition: ease 3s;
}
.mobile-bag {
  position: relative;
  padding-right: 5px;
  padding-bottom: 5px;
}
.mobile-bag a {
  display: flex;
  font-size: 12px;
}
.mobile-bag svg {
  height: 17px;
}
.menu-footer {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  background: #fff;
  border-top: 1px solid #000;
}
.mf-item {
  text-align: center;
}
.mf-item svg {
  max-width: 30px;
  max-height: 30px;
}
.canvas-menu .canvas-header-box {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.canvas-menu #canvas-main-menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
ul.site-nav.list--inline.mm-listview {
  padding: 20px 0;
  width: 100%;
}
#mobile-blockcart #cart-info a.hover_x.btn {
  display: none;
}
#_mobile_cart .product-name span.title {
  font-family: "Lato";
  font-family: var(--font-family-default);
  font-size: 2.2rem;
}
@media (max-width: 768px) {
  .mb-text-left,
  .mb-text-left .texte-left,
  .mb-text-left .texte-right,
  .texte-left,
  texte-right {
    text-align: left !important;
  }
  .section_img_text {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .subtitleext {
    max-width: 100%;
  }
}
/* password protected from page */
div#LoginModal.modal--is-active {
  display: block;
}
.template-cart .header-top {
  display: none;
}
/* testimonial section */
.section-testimonials .testimonials-slider .slick-arrow.arrow-next {
  position: relative;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .section-testimonials .testimonials-slider .slick-arrow {
    display: none !important;
  }
  .section-testimonials .testimonials-slider .slick-dots {
    bottom: 0;
    transform: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
  }
  .section-testimonials
    .testimonials-slider
    .slick-dots
    li.slick-active
    button {
    color: #525252;
  }
  .section-testimonials .testimonials-slider .slick-dots li:hover button,
  .section-testimonials
    .testimonials-slider
    .slick-dots
    li.slick-active
    button {
    background-color: #525252;
  }
  .section-testimonials .testimonials-slider .slick-dots li button {
    background-color: #aeaeae;
  }
}
.section-testimonials .testimonials-slider .testimonial-item__text {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .section-testimonials .testimonials-slider .testimonial-item__text {
    margin-bottom: 15px;
  }
}
/* product page */
select#productSelect-option-0 {
  display: none;
}
.product-single__price {
  gap: 10px;
}
.info_content .gr_pr_rw {
  margin-bottom: 25px;
}
.product-single__shortdes {
  margin: 25px 0;
}

#shopify-section-template--19208409743654__5ae99524-651a-4561-b5e5-9e25880227dd
  .block_title
  .title {
  line-height: 1.2;
}
div#judgeme_product_reviews {
  max-width: 1275px;
  margin: 0 auto;
}
.discount-offer p {
  color: #000;
  font-size: 14px;
  text-align: left;
}
.discount-offer p span {
  color: #d50000;
  font-weight: 700;
}
.product-description,
.product-description p {
  font-size: 14px;
  font-size: 1.2rem;
}

.item-product .product__info .product__title {
  font-weight: 600;
}
@media (max-width: 1300px) {
  div#judgeme_product_reviews {
    padding: 0 12px;
  }
}
@media (max-width: 767px) {
  .mb-first .item_text {
    order: 2;
  }
  .mb-first .item_image {
    order: 1;
  }
  .template-index main#MainContent {
    padding-top: 0;
  }
  .item-product .product__info .product__title {
    font-size: 18px !important;
  }
}
/* mobile video slider fix */
.slick-initialized .slick-slide.mobile-show {
  display: none !important;
}
.mobile-show {
  display: none;
}
@media (max-width: 767px) {
  .slick-initialized .slick-slide.mobile-show {
    display: block !important;
  }
  .slick-initialized .slick-slide.mobile-hide {
    display: none !important;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .video-slider-section.mobile-show .image-wrapper img {
    max-height: 450px;
    border-radius: 10px;
    margin: 0 auto;
  }
}
/* home section posts */
.post-link-section h3 {
  font-size: 26px;
  font-weight: 600;
}
.post-link-section a {
  text-decoration: underline;
}
.post-link-section .container_1320 {
  padding: 35px;
}
.post-link-section .flex-item {
  width: 32%;
}
.post-link-section .title-sc a {
  font-size: 20px;
}
.text-wrap {
  padding: 15px;
  min-height: 125px;
  background: #fff;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;
}
.post-wrap p {
  font-weight: 600;
}
@media (max-width: 767px) {
  .post-link-section .flex-item.title-sc {
    width: 100%;
    text-align: center;
  }
  .post-link-section .flex-item {
    width: 48%;
  }
}
@media (max-width: 420px) {
  .post-link-section .flex-wrap {
    gap: 25px;
  }
  .post-link-section .flex-item {
    width: 100%;
  }
}
/* blog article page */
.template-blog .section-title {
  background: #ddf4ff;
  margin-bottom: 20px;
  text-align: center;
}
.template-blog .section-title h2 {
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  line-height: 28px;
  padding-top: 12px;
}
.template-blog .blog--column-view .block_content {
  border: none;
}
.template-blog .blog--column-view .article__title {
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
.template-blog .blog--column-view .article--listing .article__excerpt {
  padding: 0;
  margin: 0;
  text-align: left;
}
.template-blog .blog--column-view .article--listing .article__info {
  border: 0;
  padding: 0;
}
.rte a {
  color: #007bff;
}
.rte h3 b {
  font-weight: 100;
}
nav.breadcrumbs ol {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
nav.breadcrumbs li {
  list-style-type: none;
  margin-right: 5px;
}
.image_as_banner {
  max-height: 300px;
  display: flex;
  background: #ddf4ff;
}
.image_as_banner img.article__list-image {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  object-position: left;
}
/*
.image_as_banner::before{
    content: "";
    width: 30%;
    background: #007bff;
    display: block;
    height: 300px;
}*/
@media (max-width: 767px) {
  .image_as_banner,
  .image_as_banner img.article__list-image {
    max-height: 200px;
  }
  .image_as_banner::before {
    height: 200px;
  }
}
/* philosophy page */
.block_text.cvsb {
  padding-top: 50px;
}
/* cart popup */
@media (max-width: 767px) {
  .nov-with-anim.product-quickview.popup-quick-view.cart__popup.cart__popup_upsell {
    max-width: 100%;
  }
  .nov-wrap.nov-close-btn-in.nov-auto-cursor.nov-move-horizontal.nov-ready {
    width: 100%;
  }
  .cart_popup_opened .nov-content .cart__popup-item {
    display: grid !important;
  }
  .cart_popup_opened .nov-content .cart__popup-item .cart__popup-remove {
    grid-row: 1;
    grid-column: 1;
  }
  .cart__popup-thumb {
    grid-row: 1;
    grid-column: 2;
  }
  .cart__popup_grow {
    grid-row: 1;
    grid-column: 3 / span 4;
    margin: 0;
  }
  .cart__popup-price {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .cart__popup-quantity {
    grid-row: 2;
    grid-column: 3 / span 2;
  }
  .cart__popup-total {
    grid-row: 2;
    grid-column: 5 / span 2;
  }
}
@media (max-width: 360px) {
  .cart_popup_opened .nov-content .cart__popup-item .cart__popup-remove {
    grid-row: 2;
  }
  .cart__popup-thumb {
    grid-row: 2;
    grid-column: 2 / span 2;
  }
  .cart__popup_grow {
    grid-row: 1;
    grid-column: 1 / span 6;
  }
  .cart__popup-price {
    grid-row: 3;
  }
  .cart__popup-quantity {
    grid-column: 4 / span 2;
  }
  .cart__popup-total {
    grid-row: 3;
    grid-column: 4 / span 2;
  }
}
