<div class="page-width">
  {% include 'nov-breadcrumb' %}
  <div class="nov__page mt-150 mt-xs-70">
	  <div class="container_ct">
	    {% if page.content.size > 0 %}
	      <div class="rte">
	        {{ page.content }}
	      </div>
	    {% endif %}
        <div class="title_block"><span>{{ page.title }}</span></div>
        {% comment %}
	    {% section 'nov-page-faqs' %}
        {% endcomment %}
        {% section 'page-faqs-delivery' %}
        {% section 'page-faqs-payment' %}
        {% section 'page-faqs-about' %}
        {% section 'page-faqs-about2' %}
        {% section 'page-faqs-about3' %}
        {% section 'page-faqs-promotion' %}
	  </div>
  </div>
</div>