{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections

  {% section 'password-header' %}
{% endcomment %}


<div class="password-main text-center">
  <div class="password-main__inner">
    {% section 'password-content' %}
  </div>
</div>
{% section 'password-footer' %}
